<% include partials/header %>
<h1>This is the home page!</h1>

<img src = "https://images.unsplash.com/photo-1534832847687-ed24b3a9d3ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fff785bb3c736b102bf6a2da0feffd8f&auto=format&fit=crop&w=334&q=80">
<% include partials/footernode  %>