<% include partials/header %>
<h1> Yout fell in love with: <%= thingsVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCAse() === "rusty"){ %>
    <p>GOOD CHOICE! RUSTY IS THE BEST!</p>
    <% } ELSE { %>
    <p> Bad choice! You should have said Rusty!</p>
    <% } %>

<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>